{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'semantic_home.css' %}">
  </head>
  <body>
    <div class="container">
        <img src="{% static 'images/IMDb_Header_Page.jpg' %}" alt="imdb image" width="100%">
        <div class="centered">Large Movie Review Dataset analysys</div>
    </div>

    <div class="row">

        <div class="side">
            <h1>Немного информации о сервисе</h1>
            <p class="one">
                Данный сервис разработан в рамках тестового задания для junior-специалистов по направлению Data Science в Гринатом.<br>
            </p>
        </div>

        <div class="main">
            <h1>Получите результаты по отзыву фильма</h1>
            
            <form action="{% url 'result' %}">
                {% csrf_token %}
        
                <p class="two">
                    <label for="data">Введите отзыв о фильме:
                        <input type="text" name="data" placeholder="Film Review" required>
                        <input type="submit" value='Predict'>
                    </label> 
                </p>
            </form>
            
        </div>
    </div>
      
    <div class="footer">
      <ul>
        <li><a href="https://t.me/miroshkaDX">Telegram</a></li>
        <li><a href="mailto:adela.x@yandex.ru">Email</a></li>
        <li><a href="https://github.com/Adelaaas/movie_greenatom">Github</a></li>
        <li><a href="https://github.com/Adelaaas/movie_greenatom">Report</a></li>
        <li>👋</li>
      </ul>
    </div>      

  </body>
</html>